* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --brand-light: #59b2ff;
    --brand-mid: #3487cf;
    --brand-dark: #1d6fb6;

    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;

    --danger: #FF5959;

    --background: #1e1e1e;
    --input-base: #1c1f21;
    --input-stroke: #363b40;
    --input-placeholder: #869198;
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2d3136;
    --shape-hover: #383d42;

    --text-body: #c8cdd0;
    --text-heading: #f9f9f9;

    --font-leckerli: "Leckerli One", cursive;
    --font-Open: "Open Sans", sans-serif;
    --font-Baloo2: "Baloo 2", sans-serif;
    
    --logo: 400 4rem var(--font-leckerli);
    --heading-md: 700 2.8rem var(--font-Baloo2);
    --heading-sm: 700 1.8rem var(--font-Baloo2);

    --body-md: 400 1.6rem var(--font-Open);
    --body-sm: 400 1.4rem var(--font-Open);
    --body-xs: 400 1.2rem var(--font-Open);
}

body {
    background-color: var(--background);
}

.flex {
    display: flex;    
}

.flex-1 {
    flex: 1;
}