#app {
    display: grid;
    grid-template-columns: 31.25% 68.75%;

    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var( --shape-background);
    padding: 2rem;

    overflow: hidden;
}

aside {
    .aside-container {
        position: relative;
        
        header {
            padding: 3.2rem;

            h1 {
                font: var(--logo);
                color: var(--pink);

                margin: 1.6rem 0 0.4rem;
            }   
            
            p {
                font: var(--body-md);
                color: var(--text-heading);
            }
        }
        
        .wallpaper {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
            object-fit: contain;
            
            border-radius: 1.2rem; 
        }
    }
    
}
